.diaSetmana {
    background-color: lightgrey;
}

.AW {
    background-color: pink;
}

.pati {
    background-color: black;
    color: whitesmoke;
}

.MME {
    background-color: orange;
}

.SOM {
    background-color: lightblue;
}

.IPO2 {
    background-color: lightsalmon;
}

.IPO1 {
    background-color: rgb(233, 0, 233);
}

.ANG {
    background-color: yellow;
}

.XL {
    background-color: rgb(255, 66, 66);
}

.MOPT2 {
    background-color: rgb(185, 255, 150);
}

.AO {
    background-color: rgb(119, 255, 0);
}

.TUTORIA {
    background-color: grey;
}